{% extends 'base.html' %}
{% load custom_tags %}

{% block title %}集計結果{% endblock %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .scroll-wrapper {
    width: 100%;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .angled-table {
    display: inline-block;
    margin: 0;
    border-collapse: collapse;
  }

  .angled-table th:not(:first-child) {
    background-color: #C1B7A4;
    color: #333;
  }

  .angled-table th,
  .angled-table td {
    border: 1px solid #cccc;
    padding: 4px 8px;
    text-align: center;
    white-space: nowrap;
  }

  .angled-table td:first-child,
  .angled-table th:first-child {
    background-color: #C1B7A4;
    font-weight: bold;
    min-width: 100px;
  }

  .sticky-header {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 5;
  }

  .sticky-col {
    position: sticky;
    left: 0px;
    background-color: #f9f9f9;
    z-index: 5;
  }

 .angled-header {
    position: relative;
    height: 50px;
    width: 30px;
    padding: 0;
    overflow: visible;
  }

  .rotate-header {
    transform-origin: bottom left;
    white-space: normal;
    display: inline-block;
    height: 30px;
    width: 70px;
    text-align: center;
    word-break: break-word;
    padding: 0;
    overflow-wrap: anywhere;
  }

</style>
<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <a class="btn btn-outline-secondary" href="{% url 'arrayup' %}">アップロード画面へ</a>
    <a class="btn btn-outline-secondary" href="{% url 'top' %}">Top画面へ</a>
  </div>
</div>
<h2 class="mb-4">アレイ集計一覧表</h2>
<div class="scroll-wrapper">
  <table class="table table-bordered angled-table">
    <thead>
      <tr>
        {% for col in display_headers %}
          {% if forloop.first %}
            <th class="sticky-col sticky-header" style="word-break: break-all;">{{ col }}</th>
          {% else %}
            <th class="sticky-header angled-header">
              <div class="rotate-header" title="{{ col }}">{{ col }}</div>
            </th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <body>
      {% for row in pivot_data %}
      <tr>
        {% for col in column_headers %}
          {% if forloop.first %}
            <td class="sticky-col" style="text-align: center;">{{ row|get_item:col }}</td>
          {% else %}
            <td style="min-width: 80px; text-align: right;">{{ row|get_item:col }}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </body>
  </table>
</div>
{% endblock %}